@import "../plugins/fontawesome/css/all.min.css";
/* Fonts */
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-SemiBold";
  src: url("../fonts/RobotoCondensed-SemiBold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
}
/* Colors */
/* Variables */
/* Global */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: unset;
}

body {
  background-color: #f5f5f5;
  font-family: "RobotoCondensed-Regular";
  font-size: 100%;
  overflow-x: hidden;
}
body ::-webkit-scrollbar {
  width: 0;
  height: 0;
}
body ::-webkit-scrollbar-thumb {
  background-color: transparent;
}
body ::-webkit-scrollbar-track {
  background-color: transparent;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  user-select: none;
}

/* Bootstrap */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

/* Layout */
main {
  display: flex;
}

section {
  min-height: calc(100dvh - 144px);
  max-height: calc(100dvh - 144px);
}

header nav {
  display: flex;
}
header nav .brand {
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
  padding: 1rem 0;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header nav .brand .logo {
  display: flex;
  align-items: center;
}
header nav .brand .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
header nav .brand .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #4772fa;
}
header nav .brand .logo small {
  font-family: "RobotoCondensed-Light";
  font-size: 1rem;
  color: #333333;
}
header nav .menu {
  border-bottom: 1px solid #dadada;
  padding: 0 2rem;
  width: calc(100% - 240px);
  display: flex;
  justify-content: end;
  align-items: center;
}
header nav .menu li .profile {
  background-color: white;
  border: 2px solid #dadada;
  border-radius: 0.25rem;
  outline: none;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}
header nav .menu li .profile img {
  border: 1px solid #dadada;
  border-radius: 50%;
  width: 42px;
  height: 42px;
}
header nav .menu li .profile .user-details {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header nav .menu li .profile .user-details .full-name {
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
  text-align: center;
}
header nav .menu li .profile .user-details .team {
  font-family: "RobotoCondensed-Light";
  font-size: 0.85rem;
  color: #4772fa;
  text-align: center;
}
header nav .menu li .profile::after {
  color: #777777;
}
header nav .menu li .profile-menu {
  background-color: white;
  border: 2px solid #dadada;
  border-radius: 0.25rem;
  padding: 0;
}
header nav .menu li .profile-menu li .dropdown-item {
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #333333;
}
header nav .menu li .profile-menu li .dropdown-item i {
  width: 1rem;
  margin-right: 0.5rem;
}
header nav .menu li .profile-menu li .dropdown-item:hover {
  background-color: #f5f5f5;
}

.aside {
  border-right: 1px solid #dadada;
  padding-bottom: 2rem;
  width: 240px;
  min-height: calc(100dvh - 87px);
  max-height: calc(100dvh - 87px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aside .side-menu .side-menu-top {
  border-bottom: 1px solid #dadada;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aside .side-menu .side-menu-top .side-pp {
  border: 1px solid #dadada;
  border-radius: 50%;
  margin-bottom: 1rem;
  width: 96px;
  height: 96px;
}
.aside .side-menu .side-menu-top p {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 18px;
  color: #333333;
  text-align: center;
}
.aside .side-menu .side-menu-top .team {
  margin-top: 0.25rem;
  font-family: "RobotoCondensed-Light";
  font-size: 0.85rem;
  color: #4772fa;
  text-align: center;
}
.aside .side-menu .side-menu-item {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aside .side-menu .side-menu-item a {
  border-bottom: 1px solid #dadada;
  padding: 1.25rem 2.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  color: #464646;
}
.aside .side-menu .side-menu-item a i {
  margin: -0.1rem 1.5rem 0 0;
  width: 20px;
  height: 20px;
}
.aside .side-menu .side-menu-item a span {
  margin: 0;
}
.aside .side-menu .side-menu-item a:hover {
  color: #4772fa;
}
.aside .side-menu .side-menu-item .active {
  border-bottom: 1px solid #4772fa;
  background-color: #4772fa;
  color: #f5f5f5;
}
.aside .side-menu .side-menu-item .active:hover {
  color: #f5f5f5;
}
.aside .side-bottom {
  margin: 0;
  width: 100%;
  text-align: center;
}
.aside .side-bottom a {
  color: #4772fa;
}

footer {
  border-top: 1px solid #dadada;
  background-color: #f5f5f5;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
  text-align: center;
}
footer p span {
  color: #4772fa;
}

.panel-container {
  background-color: #ececec;
  width: calc(100% - 240px);
}
.panel-container .panel-content {
  background-color: #ececec;
  padding: 2rem;
  overflow-y: auto;
}
.panel-container .panel-content .card {
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border: 1px solid #ececec;
  border-radius: 0.25rem;
  margin: 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.panel-container .panel-content .card .card-title {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
  color: #333333;
}
.panel-container .panel-content .card .card-sub-title {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #333333;
}

/* Dashboard */
.dashboard {
  background: url("../images/panel/dashboard.png") center/cover no-repeat;
}
.dashboard .title {
  font-family: "RobotoCondensed-Light";
  font-size: 4rem;
  color: #333333;
}

/* Profile */
.profile {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.profile .card-profile {
  padding: 2rem;
  width: 48%;
}
.profile .card-profile .profile-avatar {
  border: 1px solid #dadada;
  border-radius: 50%;
  margin-right: 1rem;
  width: 50px;
  height: 50px;
}
.profile .card-profile .form-profile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.profile .card-profile .form-profile .form-element-gender {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.profile .card-profile .form-profile .form-element-gender .gender {
  background-color: white;
  border: 2px solid #dadada;
  border-radius: 1rem;
  outline: none;
  padding: 0.75rem 0 0.5rem 0;
  width: 32%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile .card-profile .form-profile .form-element-gender .gender img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
.profile .card-profile .form-profile .form-element-gender .gender span {
  margin-top: 0.5rem;
  font-size: 1.25rem;
  color: #333333;
}
.profile .card-profile .form-profile .form-element-gender .active {
  border-color: #333333;
}
.profile .card-profile .form-profile .form-element-gender .form-error {
  margin: 1rem 0 0 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 0.85rem;
  color: #ff3180;
}
.profile .card-profile .form-profile .form-element-avatar {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.profile .card-profile .form-profile .form-element-avatar .avatar {
  background-color: white;
  border: 2px solid #dadada;
  border-radius: 1rem;
  outline: none;
  padding: 0.75rem 0 0.5rem 0;
  width: 32%;
}
.profile .card-profile .form-profile .form-element-avatar .avatar img {
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
.profile .card-profile .form-profile .form-element-avatar .active {
  border-color: #333333;
}
.profile .card-profile .form-profile .form-element-avatar .form-error {
  margin: 0.5rem 0 0 0;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 0.85rem;
  color: #ff3180;
}
.profile .card-profile .form-profile .form-element {
  margin-bottom: 2rem;
  width: 48%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  font-family: "RobotoCondensed-Regular";
}
.profile .card-profile .form-profile .form-element label {
  margin-bottom: 0.5rem;
  width: 100%;
  font-size: 1.25rem;
}
.profile .card-profile .form-profile .form-element input, .profile .card-profile .form-profile .form-element select {
  border: 1px solid #333333;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  width: 100%;
}
.profile .card-profile .form-profile .form-element .form-error {
  margin: 0.5rem 0 0 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 0.85rem;
  color: #ff3180;
}
.profile .card-profile .form-profile button {
  border-radius: 0.25rem;
  border: none;
  outline: none;
  margin: 0;
  padding: 0.5rem 2rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #f5f5f5;
  transition: 0.25s ease-in;
}
.profile .card-profile .form-profile .btn-avatar {
  background-color: #ffb000;
  margin-right: 1rem;
}
.profile .card-profile .form-profile .btn-avatar:hover {
  filter: brightness(108%);
}
.profile .card-profile .form-profile .btn-change-password {
  background-color: #4772fa;
}
.profile .card-profile .form-profile .btn-change-password:hover {
  filter: brightness(120%);
}
.profile .profile-extra {
  width: 48%;
  display: flex;
  flex-direction: column;
}
.profile .profile-extra .card-profile {
  width: 100%;
}
.profile .profile-extra .card-change-password {
  margin-bottom: 2rem;
}

/* Custom */
.btn-save {
  background-color: #06ce90;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  margin: 0;
  padding: 0.4rem 2rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  transition: 0.25s ease-in;
}
.btn-save:hover {
  filter: brightness(106%);
}

/* Alerts & Modals */
.alert {
  -webkit-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5;
  border-radius: 0;
  position: fixed;
  top: 2rem;
  right: 2rem;
  display: flex;
  align-items: center;
}
.alert i {
  font-size: 1.25rem;
}
.alert .fa-check {
  color: #06ce90;
}
.alert .fa-exclamation {
  color: #ff3180;
}
.alert p {
  margin: 0 1rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.15rem;
  color: #333333;
}

/*# sourceMappingURL=panel.css.map */
