@import "../plugins/fontawesome/css/all.min.css";

/* Fonts */
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/RobotoCondensed-Bold.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Bold.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-SemiBold";
    src: url("../fonts/RobotoCondensed-SemiBold.woff") format('woff');
    src: url("../fonts/RobotoCondensed-SemiBold.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Light.woff2") format('woff2');
}

$font700: "RobotoCondensed-Bold";
$font600: "RobotoCondensed-SemiBold";
$font400: "RobotoCondensed-Regular";
$font300: "RobotoCondensed-Light";

/* Colors */
$color1: #4772fa;
$color2: #ffb000;
$color3: #06ce90;
$color4: #ff3180;
$color5: #f5f5f5;
$color6: #333333;
$color7: #ececec;
$color8: #dadada;
$color9: #777777;
$color10: #464646;

/* Variables */
$i : !important;

/* Global */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: unset;
}

body {
    background-color: $color5;
    font-family: $font400;
    font-size: 100%;
    overflow-x: hidden;
    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    ::-webkit-scrollbar-thumb {
        background-color: transparent;
    }
    ::-webkit-scrollbar-track{
        background-color: transparent;
    }
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    user-select: none;
}

/* Bootstrap */
.container-fluid {
    margin: 0 $i;
    padding: 0 $i;
}

/* Layout */
main {
    display: flex;
}

section {
    min-height: calc(100dvh - 144px);
    max-height: calc(100dvh - 144px);
}

header {
    nav {
        display: flex;
        .brand {
            border-bottom: 1px solid $color8;
            border-right: 1px solid $color8;
            padding: 1rem 0;
            width: 240px;
            display: flex;
            justify-content: center;
            align-items: center;
            .logo {
                display: flex;
                align-items: center;
                svg {
                    margin-right: .5rem;
                    width: 44px;
                    height: 44px;
                }
                span {
                    font-family: $font400;
                    font-size: 1.25rem;
                    color: $color1;
                }
                small {
                    font-family: $font300;
                    font-size: 1rem;
                    color: $color6;
                }
            }
        }
        .menu {
            border-bottom: 1px solid $color8;
            padding: 0 2rem;
            width: calc(100% - 240px);
            display: flex;
            justify-content: end;
            align-items: center;
            li {
                .profile {
                    background-color: white;
                    border: 2px solid $color8;
                    border-radius: .25rem;
                    outline: none;
                    margin-left: 2rem;
                    padding: .5rem 1rem;
                    display: flex;
                    align-items: center;
                    img {
                        border: 1px solid $color8;
                        border-radius: 50%;
                        width: 42px;
                        height: 42px;
                    }
                    .user-details {
                        margin: 0 1rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        .full-name {
                            font-family: $font400;
                            font-size: 1rem;
                            color: $color6;
                            text-align: center;
                        }
                        .team {
                            font-family: $font300;
                            font-size: .85rem;
                            color: $color1;
                            text-align: center;
                        }
                    }
                    &::after {
                        color: $color9;
                    }
                }
                .profile-menu {
                    background-color: white;
                    border: 2px solid $color8;
                    border-radius: .25rem;
                    padding: 0;
                    li {
                        .dropdown-item {
                            padding: .75rem 1.5rem;
                            display: flex;
                            align-items: center;
                            font-size: 1rem;
                            color: $color6;
                            i {
                                width: 1rem;
                                margin-right: .5rem;
                            }
                            &:hover {
                                background-color: $color5;
                            }
                        }
                    }
                }
            }
        }
    }
}

.aside {
    border-right: 1px solid $color8;
    padding-bottom: 2rem;
    width: 240px;
    min-height: calc(100dvh - 87px);
    max-height: calc(100dvh - 87px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .side-menu {
        .side-menu-top {
            border-bottom: 1px solid $color8;
            padding: 2rem 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .side-pp {
                border: 1px solid $color8;
                border-radius: 50%;
                margin-bottom: 1rem;
                width: 96px;
                height: 96px;
            }
            p {
                margin: 0;
                font-family: $font400;
                font-size: 18px;
                color: $color6;
                text-align: center;
            }
            .team {
                margin-top: .25rem;
                font-family: $font300;
                font-size: .85rem;
                color: $color1;
                text-align: center;
            }
        }
        .side-menu-item {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                border-bottom: 1px solid $color8;
                padding: 1.25rem 2.5rem;
                width: 100%;
                display: flex;
                align-items: center;
                color: $color10;
                i {
                    margin: -.1rem 1.5rem 0 0;
                    width: 20px;
                    height: 20px;
                }
                span {
                    margin: 0;
                }
                &:hover {
                    color: $color1;
                }
            }
            .active {
                border-bottom: 1px solid $color1;
                background-color: $color1;
                color: $color5;
                &:hover {
                    color: $color5;
                }
            }
        }
    }
    .side-bottom {
        margin: 0;
        width: 100%;
        text-align: center;
        a {
            color: $color1;
        }
    }
}

footer {
    border-top: 1px solid $color8;
    background-color: $color5;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        margin: 0;
        font-family: $font400;
        font-size: 1rem;
        color: $color6;
        text-align: center;
        span {
            color: $color1;
        }
    }
}

.panel-container {
    background-color: $color7;
    width: calc(100% - 240px);
    .panel-content {
        background-color: $color7;
        padding: 2rem;
        overflow-y: auto;
        .card {
            -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
            -moz-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
            -o-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
            background-color: $color5;
            border: 1px solid $color7;
            border-radius: .25rem;
            margin: 0;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            .card-title {
                margin: 0;
                font-family: $font400;
                font-size: 2rem;
                color: $color6;
            }
            .card-sub-title {
                margin: 0;
                font-family: $font400;
                font-size: 1.5rem;
                color: $color6;
            }
        }
    }
}

/* Dashboard */
.dashboard {
    background: url("../images/panel/dashboard.png") center/cover no-repeat;
    .title {
        font-family: $font300;
        font-size: 4rem;
        color: $color6;
    }
}

/* Profile */
.profile {
    display: flex;
    justify-content: space-between;
    align-items: start;
    .card-profile {
        padding: 2rem;
        width: 48%;
        .profile-avatar {
            border: 1px solid $color8;
            border-radius: 50%;
            margin-right: 1rem;
            width: 50px;
            height: 50px;
        }
        .form-profile {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: start;
            .form-element-gender {
                margin-bottom: 2rem;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: start;
                .gender {
                    background-color: white;
                    border: 2px solid $color8;
                    border-radius: 1rem;
                    outline: none;
                    padding: .75rem 0 .5rem 0;
                    width: 32%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    img {
                        border-radius: 50%;
                        width: 72px;
                        height: 72px;
                    }
                    span {
                        margin-top: .5rem;
                        font-size: 1.25rem;
                        color: $color6;
                    }
                }
                .active {
                    border-color: $color6;
                }
                .form-error {
                    margin: 1rem 0 0 0;
                    font-family: $font400;
                    font-size: .85rem;
                    color: $color4;
                }
            }
            .form-element-avatar {
                margin-bottom: 2rem;
                width: 100%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: start;
                .avatar {
                    background-color: white;
                    border: 2px solid $color8;
                    border-radius: 1rem;
                    outline: none;
                    padding: .75rem 0 .5rem 0;
                    width: 32%;
                    img {
                        border-radius: 50%;
                        width: 72px;
                        height: 72px;
                    }
                }
                .active {
                    border-color: $color6;
                }
                .form-error {
                    margin: .5rem 0 0 0;
                    width: 100%;
                    font-family: $font400;
                    font-size: .85rem;
                    color: $color4;
                }
            }
            .form-element {
                margin-bottom: 2rem;
                width: 48%;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: start;
                font-family: $font400;
                label {
                    margin-bottom: .5rem;
                    width: 100%;
                    font-size: 1.25rem;
                }
                input, select {
                    border: 1px solid $color6;
                    border-radius: .25rem;
                    padding: .5rem 1rem;
                    width: 100%;
                }
                .form-error {
                    margin: .5rem 0 0 0;
                    font-family: $font400;
                    font-size: .85rem;
                    color: $color4;
                }
            }
            button {
                border-radius: .25rem;
                border: none;
                outline: none;
                margin: 0;
                padding: .5rem 2rem;
                font-family: $font400;
                font-size: 1rem;
                color: $color5;
                transition: .25s ease-in;
            }
            .btn-avatar {
                background-color: $color2;
                margin-right: 1rem;
                &:hover {
                    filter: brightness(108%);
                }
            }
            .btn-change-password {
                background-color: $color1;
                &:hover {
                    filter: brightness(120%);
                }
            }
        }
    }
    .profile-extra {
        width: 48%;
        display: flex;
        flex-direction: column;
        .card-profile {
            width: 100%;
        }
        .card-change-password {
            margin-bottom: 2rem;
        }
    }
}

/* Custom */
.btn-save {
    background-color: $color3;
    border-radius: .25rem;
    border: none;
    outline: none;
    margin: 0;
    padding: .4rem 2rem;
    font-family: $font400;
    font-size: 1.25rem;
    color: $color5;
    transition: .25s ease-in;
    &:hover {
        filter: brightness(106%);
    }
}

/* Alerts & Modals */
.alert {
    -webkit-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
    background-color: $color5;
    border-radius: 0;
    position: fixed;
    top: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    i {
        font-size: 1.25rem;
    }
    .fa-check {
        color: $color3;
    }
    .fa-exclamation {
        color: $color4;
    }
    p {
        margin: 0 1rem;
        font-family: $font400;
        font-size: 1.15rem;
        color: $color6;
    }
}
