@import "../plugins/fontawesome/css/all.min.css";
/* Fonts */
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-SemiBold";
  src: url("../fonts/RobotoCondensed-SemiBold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
}
/* Colors */
/* Variables */
/* Global */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: unset;
}

body {
  background-color: #f5f5f5;
  font-family: "RobotoCondensed-Regular";
  font-size: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  user-select: none;
}

/* Bootstrap */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Layout */
header {
  padding: 1rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
header nav .logo span {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.5rem;
  color: #4772fa;
}
header nav .menu {
  display: flex;
  align-items: center;
}
header nav .menu li a {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.25rem;
  color: #333333;
  transition: 0.25s ease-in;
}
header nav .menu li a:hover {
  color: #ffb000;
}
header nav .menu li .active {
  color: #4772fa;
}
header nav .menu li .active:hover {
  color: #4772fa;
}

footer {
  background-color: #4772fa;
  padding: 0.5rem 0;
}
footer p {
  margin: 0;
  font-family: "RobotoCondensed-SemiBold";
  color: #f5f5f5;
  text-align: center;
}

main, section {
  max-height: calc(100dvh - 116px);
  min-height: calc(100dvh - 116px);
}

/* Homepage */
.home {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .home-content {
  width: 50%;
}
.home .home-content .title {
  font-family: "RobotoCondensed-Bold";
  font-size: 4rem;
  color: #333333;
}
.home .home-content .title span:first-child {
  color: #4772fa;
}
.home .home-content .title span:last-child {
  color: #ffb000;
}
.home .home-content .description {
  margin: 1.5rem 0 2rem 0;
  font-size: 1.25rem;
}
.home .home-content .link {
  background-color: #4772fa;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: 0.25s ease-out;
}
.home .home-content .link:hover {
  background-color: #ffb000;
}
.home .home-content img {
  width: 640px;
}

/*# sourceMappingURL=style.css.map */
