@import "../plugins/fontawesome/css/all.min.css";
/* Fonts */
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-SemiBold";
  src: url("../fonts/RobotoCondensed-SemiBold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
}
/* Colors */
/* Variables */
/* Global */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: unset;
}

body {
  background-color: #f5f5f5;
  font-family: "RobotoCondensed-Regular";
  font-size: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  user-select: none;
}

/* Custom */
.w-48 {
  width: 48%;
}

/* Bootstrap */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* Layout */
header {
  background-color: #f5f5f5;
  padding: 1rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
header nav .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #4772fa;
}
header nav .menu {
  display: flex;
  align-items: center;
}
header nav .menu li a {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
  transition: 0.25s ease-in;
}
header nav .menu li a:hover {
  color: #ffb000;
}
header nav .menu li .link {
  background-color: #4772fa;
  border-radius: 0.25rem;
  padding: 0.4rem 0.8rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  transition: 0.25s ease-out;
}
header nav .menu li .link:hover {
  background-color: #ffb000;
  color: #f5f5f5;
}
header nav .hamburger-menu {
  display: none;
  background-color: #f5f5f5;
  border: 2px solid #333333;
  border-radius: 0.25rem;
  width: 40px;
  height: 40px;
}

.offcanvas {
  background-color: #f5f5f5;
}
.offcanvas .offcanvas-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 76px;
}
.offcanvas .offcanvas-header .offcanvas-title {
  margin: 0;
}
.offcanvas .offcanvas-header button {
  background-color: #f5f5f5;
  border: 2px solid #333333;
  border-radius: 0.25rem;
  width: 36px;
  height: 36px;
}
.offcanvas hr {
  margin: 0;
}
.offcanvas .offcanvas-body {
  padding: 0;
}
.offcanvas .offcanvas-body ul {
  width: 100%;
}
.offcanvas .offcanvas-body ul li {
  width: 100%;
  display: flex;
}
.offcanvas .offcanvas-body ul li a {
  border-bottom: 1px solid #dadada;
  padding: 1rem 2rem;
  min-width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
  transition: 0.25s ease-in;
}
.offcanvas .offcanvas-body ul li a:hover {
  color: #ffb000;
}
.offcanvas .offcanvas-body ul li .link {
  background-color: #4772fa;
  border-radius: 0.25rem;
  padding: 0.4rem 0.8rem;
  margin: 1rem 0 0 2rem;
  min-width: unset;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  transition: 0.25s ease-out;
}
.offcanvas .offcanvas-body ul li .link:hover {
  background-color: #ffb000;
  color: #f5f5f5;
}

footer {
  border-top: 1px solid #dadada;
  background-color: #ececec;
  padding: 4rem 0;
}
footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
footer .footer-container .logo {
  display: flex;
  align-items: center;
}
footer .footer-container .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
footer .footer-container .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #4772fa;
}
footer .footer-container .menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
footer .footer-container .menu li {
  display: flex;
  flex-direction: column;
}
footer .footer-container .menu li span {
  margin-bottom: 2rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1rem;
  color: #333333;
}
footer .footer-container .menu li a {
  margin-bottom: 1rem;
  font-family: "RobotoCondensed-Light";
  font-size: 1rem;
  color: #333333;
  transition: 0.25s ease-in;
}
footer .footer-container .menu li a:hover {
  text-decoration: underline;
}
footer .footer-container .menu li a i {
  margin-right: 0.25rem;
  font-size: 1rem;
}
footer hr {
  margin: 3rem 0 4rem 0;
}
footer p {
  margin: 0;
  font-family: "RobotoCondensed-Light";
  color: #333333;
}

main {
  min-height: calc(100dvh - 76px);
}

/* Authentication */
.auth {
  background: url("../images/auth.png") center/cover no-repeat;
}
.auth .auth-bg {
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth .auth-bg .auth-content {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth .auth-bg .auth-content .logo {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.auth .auth-bg .auth-content .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
.auth .auth-bg .auth-content .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #4772fa;
}
.auth .auth-bg .auth-content form {
  width: 320px;
}
.auth .auth-bg .auth-content form .form-item {
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
}
.auth .auth-bg .auth-content form .form-item label {
  margin-bottom: 0.25rem;
  width: 100%;
}
.auth .auth-bg .auth-content form .form-item input {
  border: 1px solid #dadada;
  outline: none;
  padding: 0.5rem 1rem;
  width: 100%;
}
.auth .auth-bg .auth-content form .form-item input:focus {
  border-color: #333333;
}
.auth .auth-bg .auth-content form .form-item .form-error {
  margin: 0.5rem 0 0 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 0.85rem;
  color: #ff3180;
}
.auth .auth-bg .auth-content form .form-item a {
  width: 100%;
  color: #4772fa;
}
.auth .auth-bg .auth-content form .form-item a:hover {
  text-decoration: underline;
}
.auth .auth-bg .auth-content form .form-item button {
  background-color: #4772fa;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  text-align: center;
  transition: 0.15s ease-in;
}
.auth .auth-bg .auth-content form .form-item button:hover {
  background-color: #ffb000;
}
.auth .auth-bg .auth-content form .form-item p {
  margin: 0;
  width: 100%;
  color: #333333;
}
.auth .auth-bg .auth-content form .form-item .agreement {
  font-family: "RobotoCondensed-Light";
  font-size: 14px;
}
.auth .auth-bg .auth-content .form-sign-up {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.auth .auth-bg .auth-content .form-sign-up .form-item-double {
  width: 48%;
}

/* Home */
.home {
  min-height: calc(100dvh - 76px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .home-content {
  width: 50%;
}
.home .home-content .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 4rem;
  color: #333333;
}
.home .home-content .title span:first-child {
  color: #4772fa;
}
.home .home-content .title span:last-child {
  color: #ffb000;
}
.home .home-content .description {
  margin: 1.5rem 0 2rem 0;
  font-size: 1.25rem;
}
.home .home-content .link {
  background-color: #4772fa;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: 0.25s ease-out;
}
.home .home-content .link:hover {
  background-color: #ffb000;
}
.home .home-content img {
  width: 640px;
}

/* Features */
.features {
  min-height: calc(100dvh - 76px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features .features-content {
  width: 50%;
}
.features .features-content .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 4rem;
  color: #333333;
}
.features .features-content .title span:first-child {
  color: #4772fa;
}
.features .features-content .title span:nth-child(2) {
  color: #ffb000;
}
.features .features-content .title span:last-child {
  color: #06ce90;
}
.features .features-content img {
  width: 640px;
}

/* Help Center */
.help-center .help-search {
  padding: 4rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-center .help-search .title {
  margin-bottom: 1.5rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 3rem;
  color: #333333;
  text-align: center;
}
.help-center .help-search .title span {
  color: #4772fa;
}
.help-center .help-search .search {
  border: 2px solid #333333;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  width: 640px;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
}
.help-center .help-search .search::placeholder {
  letter-spacing: 0.025rem;
}
.help-center .help-topics {
  height: calc(100dvh - 366px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.help-center .help-topics .title {
  margin-bottom: 2rem;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
  color: #333333;
  text-align: center;
}
.help-center .help-topics .title span {
  color: #4772fa;
}
.help-center .help-topics .topics {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.help-center .help-topics .topics .help-topic {
  border: 2px solid #ececec;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.25s ease;
}
.help-center .help-topics .topics .help-topic img {
  width: 164px;
}
.help-center .help-topics .topics .help-topic .topic {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
  text-align: center;
}
.help-center .help-topics .topics .help-topic:hover {
  scale: 1.025;
}
.help-center .help-contact-container {
  background-color: #4772fa;
  padding: 2rem 0;
}
.help-center .help-contact-container .help-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.help-center .help-contact-container .help-contact .help-contact-content {
  text-align: left;
  color: #f5f5f5;
}
.help-center .help-contact-container .help-contact .help-contact-content .title {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2.25rem;
}
.help-center .help-contact-container .help-contact .help-contact-content .detail {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
}
.help-center .help-contact-container .help-contact a {
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.25rem;
  color: #4772fa;
  transition: 0.25s ease-in;
}
.help-center .help-contact-container .help-contact a:hover {
  background-color: #ffb000;
  color: #f5f5f5;
}
.help-center .help-center-detail {
  padding: 4rem 16rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.help-center .help-center-detail .title {
  margin-bottom: 2rem;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
  color: #333333;
}
.help-center .help-center-detail img {
  margin-bottom: 2rem;
  width: 100%;
}
.help-center .help-center-detail p {
  width: 100%;
}
.help-center .help-center-detail .accordion {
  width: 100%;
}
.help-center .help-center-detail .accordion .accordion-item {
  margin-bottom: 1rem;
  width: 100%;
}
.help-center .help-center-detail .accordion .accordion-item .accordion-header .accordion-button {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #dadada;
  box-shadow: none;
  outline: none;
}
.help-center .help-center-detail .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.help-center .help-center-detail .other-articles {
  margin: 2rem 0 1.5rem 0;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #333333;
}
.help-center .help-center-detail .article {
  border: 2px solid #ececec;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  transition: 0.25s ease;
}
.help-center .help-center-detail .article img {
  width: 150px;
}
.help-center .help-center-detail .article .title {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
  text-align: center;
}
.help-center .help-center-detail .article:hover {
  scale: 1.025;
}

/* Blog */
.blog {
  padding: 4rem 0 2rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .blog-latest {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog .blog-latest .title {
  margin-bottom: 1.25rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #333333;
}
.blog .blog-latest .latest-post {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #ececec;
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  transition: 0.25s ease;
}
.blog .blog-latest .latest-post:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.blog .blog-latest .latest-post img {
  border-radius: 0.25rem 0 0 0.25rem;
  height: 320px;
}
.blog .blog-latest .latest-post .article {
  padding: 2rem 2.5rem;
  color: #333333;
}
.blog .blog-latest .latest-post .article .article-title {
  margin-bottom: 1.5rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.5rem;
}
.blog .blog-latest .latest-post .article .article-detail {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
}
.blog .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.blog .posts .title {
  margin-bottom: 1.25rem;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #333333;
}
.blog .posts .post {
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  width: 32%;
  display: flex;
  flex-direction: column;
  transition: 0.25s ease;
}
.blog .posts .post:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.blog .posts .post img {
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
  height: 240px;
}
.blog .posts .post .post-detail {
  padding: 1rem;
}
.blog .posts .post .post-detail .title {
  margin-bottom: 1rem;
  min-height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
}
.blog .posts .post .post-detail .detail {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #6E6E6E;
}
.blog .blog-post {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.blog .blog-post .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
  color: #333333;
  text-align: center;
}
.blog .blog-post .date {
  margin: 0;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #6E6E6E;
  text-align: center;
}
.blog .blog-post img {
  margin: 2rem 0;
  width: 100%;
}
.blog .blog-post .pagination {
  margin: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog .blog-post .pagination a {
  font-size: 1rem;
  color: #4772fa;
  transition: 0.25s ease;
}
.blog .blog-post .pagination a:hover {
  color: #ffb000;
}

/* About */
.about .about-banner-container .about-banner {
  min-height: calc(100dvh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-banner-container .about-banner .about-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-banner-container .about-banner .about-banner-content .title {
  margin-bottom: 1rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2.25rem;
  color: #4772fa;
  text-align: center;
}
.about .about-banner-container .about-banner .about-banner-content .description {
  margin-bottom: 4rem;
  width: 60%;
  font-family: "RobotoCondensed-Light";
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
}
.about .about-banner-container .about-banner .about-banner-content img {
  width: 640px;
}
.about .about-principles-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3rem 0;
}
.about .about-principles-container .about-principles .title {
  margin-bottom: 0.5rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2rem;
}
.about .about-principles-container .about-principles .detail {
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
}
.about .about-principles-container .about-principles .about-mission {
  margin-bottom: 2.5rem;
}
.about .about-principles-container .about-principles .about-mission .title {
  color: #4772fa;
}
.about .about-principles-container .about-principles .about-vision .title {
  color: #ffb000;
}
.about .about-statistics-container {
  background-color: #4772fa;
  padding: 2.5rem 0;
}
.about .about-statistics-container .about-statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about .about-statistics-container .about-statistics .about-statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}
.about .about-statistics-container .about-statistics .about-statistic i {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
}
.about .about-statistics-container .about-statistics .about-statistic h1 {
  margin-bottom: 0.25rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2rem;
  text-align: center;
}
.about .about-statistics-container .about-statistics .about-statistic h6 {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.5rem;
  text-align: center;
}
.about .about-partners-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 4rem 0;
}
.about .about-partners-container .about-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about .about-partners-container .about-partners img {
  height: 64px;
}

/* Contact */
.contact .contact-banner-container {
  background-color: #4772fa;
}
.contact .contact-banner-container .contact-banner-bg {
  background: url("../images/contact/contact.png") center/cover no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-banner-container .contact-banner-bg .title {
  margin: 0;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 4rem;
  color: #f5f5f5;
  text-align: center;
}
.contact .contact-content {
  padding: 6rem 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.contact .contact-content .contact-area {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .contact-content .contact-area .title {
  margin-bottom: 2rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2rem;
  color: #4772fa;
}
.contact .contact-content .contact-area .contact-detail {
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #dadada;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 2rem 4rem;
  width: 450px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.contact .contact-content .contact-area .contact-detail i {
  margin-right: 1rem;
  width: 24px;
  color: #4772fa;
}
.contact .contact-content .contact-area .contact-detail p {
  margin: 0;
}
.contact .contact-content .contact-area .contact-detail:last-child {
  margin-bottom: 0;
}
.contact .contact-content .contact-area form {
  border: 2px solid #dadada;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.contact .contact-content .contact-area form .form-element {
  margin-bottom: 2rem;
  width: 48%;
  display: flex;
  flex-direction: column;
}
.contact .contact-content .contact-area form .form-element label {
  margin-bottom: 0.5rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
}
.contact .contact-content .contact-area form .form-element input {
  border: 1px solid #333333;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.5rem 1rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
}
.contact .contact-content .contact-area form .form-element textarea {
  border: 1px solid #333333;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
  resize: none;
}
.contact .contact-content .contact-area form .form-element .form-error {
  margin: 0.5rem 0 0 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 0.85rem;
  color: #ff3180;
}
.contact .contact-content .contact-area form .form-element button {
  background-color: #4772fa;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding: 0.5rem 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  text-align: center;
  transition: 0.25s ease;
}
.contact .contact-content .contact-area form .form-element button:hover {
  background-color: #ffb000;
}
.contact .contact-content .contact-area form .form-element:last-child {
  margin-bottom: 0;
}
.contact .contact-content .contact-area form .agreement {
  margin: 0;
  font-family: "RobotoCondensed-Light";
}
.contact .contact-content .contact-area form .agreement a {
  color: #4772fa;
}
.contact .contact-content .contact-area form .agreement a:hover {
  text-decoration: underline;
}

/* Legal */
.legal {
  width: 50%;
  padding: 4rem !important;
  color: #333333;
}
.legal .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
}
.legal .sub-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
}
.legal .text {
  font-family: "RobotoCondensed-Light";
  font-size: 1rem;
}

/* Errors */
.errors {
  background-color: #4772fa;
  height: 100dvh;
}
.errors .error-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.errors .error-logo .logo {
  display: flex;
  align-items: center;
}
.errors .error-logo .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
.errors .error-logo .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #f5f5f5;
}
.errors .error-content {
  height: calc(100dvh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.errors .error-content .error-code {
  font-family: "RobotoCondensed-Bold";
  font-size: 8rem;
  color: #ffb000;
}
.errors .error-content .error-detail {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 4rem;
  color: #f5f5f5;
}

/* Alerts & Modals */
.alert {
  -webkit-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #f5f5f5;
  border-radius: 0;
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
}
.alert i {
  font-size: 1.25rem;
}
.alert .fa-check {
  color: #06ce90;
}
.alert .fa-exclamation {
  color: #ff3180;
}
.alert p {
  margin: 0 1rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.15rem;
  color: #333333;
}

/* Responsive */
@media only screen and (max-width: 1399px) {
  /* Home */
  .home .home-content img {
    width: 560px;
  }
  /* Features */
  .features .features-content img {
    width: 560px;
  }
  /* Help Center */
  .help-center .help-search {
    padding: 3rem 0 !important;
  }
  .help-center .help-search .title {
    margin-bottom: 1.25rem;
    font-size: 2.5rem;
  }
  .help-center .help-topics {
    height: calc(100dvh - 318px);
  }
  .help-center .help-topics .topics .help-topic img {
    width: 120px;
  }
  .help-center .help-center-detail {
    padding: 4rem 12rem !important;
  }
  /* Blog */
  .blog .blog-latest .latest-post img {
    height: 280px;
  }
  .blog .blog-latest .latest-post .article {
    padding: 2rem;
  }
  .blog .blog-latest .latest-post .article .article-detail {
    -webkit-line-clamp: 5;
  }
  .blog .blog-post {
    width: 60%;
  }
  /* About */
  .about .about-banner-container .about-banner .about-banner-content .description {
    margin-bottom: 2rem;
    width: 75%;
  }
  .about .about-banner-container .about-banner .about-banner-content img {
    width: 520px;
  }
  /* Contact */
  .contact .contact-banner-container .contact-banner-bg {
    height: 280px;
  }
  .contact .contact-banner-container .contact-banner-bg .title {
    margin: 0;
    font-size: 3rem;
  }
  .contact .contact-content {
    padding: 4rem 0 !important;
  }
  .contact .contact-content .contact-area:first-child {
    width: 360px;
  }
  .contact .contact-content .contact-area:last-child {
    width: calc(100% - 450px);
  }
  .contact .contact-content .contact-area .title {
    font-size: 1.75rem;
  }
  .contact .contact-content .contact-area .contact-detail {
    padding: 1rem 2rem;
    width: 360px;
    font-size: 1.25rem;
  }
  /* Legal */
  .legal {
    width: 60%;
  }
}
@media only screen and (max-width: 1199px) {
  /* Home */
  .home .home-content .title {
    font-size: 3rem;
  }
  .home .home-content .description {
    width: 75%;
  }
  .home .home-content .link {
    font-size: 1.25rem;
  }
  .home .home-content img {
    width: 480px;
  }
  /* Features */
  .features .features-content .title {
    font-size: 3rem;
  }
  .features .features-content img {
    width: 480px;
  }
  /* Help Center */
  .help-center .help-search {
    padding: 2.5rem 0 !important;
  }
  .help-center .help-search .title {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .help-center .help-search .search {
    padding: 0.75rem 1.25rem;
    width: 480px;
  }
  .help-center .help-topics {
    height: calc(100dvh - 278px);
  }
  .help-center .help-topics .title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .help-center .help-topics .topics .help-topic img {
    width: 96px;
  }
  .help-center .help-center-detail {
    padding: 4rem 8rem !important;
  }
  .help-center .help-center-detail .article img {
    width: 112px;
  }
  /* Blog */
  .blog {
    padding: 2.5rem 0 1rem 0 !important;
  }
  .blog .blog-latest {
    margin-bottom: 2.5rem;
  }
  .blog .blog-latest .title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .blog .blog-latest .latest-post img {
    width: 50%;
    height: unset;
    object-fit: contain;
  }
  .blog .blog-latest .latest-post .article {
    padding: 1.25rem;
  }
  .blog .blog-latest .latest-post .article .article-title {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
  }
  .blog .blog-latest .latest-post .article .article-detail {
    -webkit-line-clamp: 5;
    font-size: 1rem;
  }
  .blog .posts .title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .blog .posts .post {
    margin-bottom: 1.5rem;
    width: 48%;
  }
  .blog .blog-post {
    width: 75%;
  }
  .blog .blog-post .title {
    font-size: 1.5rem;
  }
  .blog .blog-post img {
    margin: 1.5rem 0;
  }
  .blog .blog-post .pagination {
    margin: 1.5rem 0;
  }
  /* Legal */
  .legal {
    width: 75%;
  }
  .legal .title {
    font-size: 1.5rem;
  }
  .legal .sub-title {
    font-family: "RobotoCondensed-Regular";
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 991px) {
  /* Home */
  .home {
    flex-wrap: unset;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .home .home-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .home .home-content .title {
    width: 100%;
    font-size: 2.5rem;
    text-align: center;
  }
  .home .home-content .description {
    margin: 0.75rem 0 1.5rem 0;
    width: 100%;
    font-size: 1.25rem;
    text-align: center;
  }
  .home .home-content .link {
    font-size: 1.25rem;
  }
  .home .home-content img {
    margin-bottom: 6rem;
    width: 92%;
  }
  /* Features */
  .features {
    flex-wrap: unset;
    flex-direction: column-reverse;
    justify-content: center;
  }
  .features .features-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .features .features-content .title {
    width: 75%;
    font-size: 2.5rem;
    text-align: center;
  }
  .features .features-content img {
    margin-bottom: 6rem;
    width: 92%;
  }
  /* Help Center */
  .help-center .help-search {
    padding: 6rem 0 4rem 0 !important;
  }
  .help-center .help-search .title {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
  .help-center .help-search .search {
    padding: 1rem 1.5rem;
    width: 560px;
  }
  .help-center .help-topics {
    height: calc(100dvh - 394px);
  }
  .help-center .help-topics .title {
    margin-bottom: 2.5rem;
    font-size: 2rem;
  }
  .help-center .help-topics .topics .help-topic {
    margin-bottom: 2rem;
    width: 42%;
  }
  .help-center .help-topics .topics .help-topic img {
    width: 120px;
  }
  .help-center .help-center-detail {
    padding: 4rem 0 !important;
  }
  /* About */
  .about .about-banner-container .about-banner .about-banner-content .description {
    margin-bottom: 6rem;
  }
  .about .about-partners-container {
    padding: 2rem 0;
  }
  .about .about-partners-container .about-partners img {
    height: 48px;
  }
  /* Contact */
  .contact .contact-content {
    padding: 2.5rem 0 !important;
    display: flex;
    flex-wrap: unset;
    flex-direction: column-reverse;
    justify-content: start;
  }
  .contact .contact-content .contact-area {
    width: 100%;
  }
  .contact .contact-content .contact-area:first-child {
    margin-top: 4rem;
    width: 100%;
  }
  .contact .contact-content .contact-area:last-child {
    width: 100%;
  }
  .contact .contact-content .contact-area .title {
    margin-bottom: 1.5rem;
  }
  .contact .contact-content .contact-area .contact-detail {
    width: 100%;
  }
  /* Legal */
  .legal {
    padding: 2.5rem !important;
  }
}
@media only screen and (max-width: 767px) {
  /* Layout */
  header nav .menu {
    display: none;
  }
  header nav .hamburger-menu {
    display: block;
  }
  footer {
    padding: 2rem 0;
  }
  footer .footer-container .menu {
    margin-top: 2rem;
    width: 100%;
  }
  footer hr {
    margin: 1rem 0 2rem 0;
  }
  /* Home */
  .home .home-content .title {
    font-size: 2rem;
  }
  .home .home-content .description {
    font-size: 1rem;
  }
  .home .home-content .link {
    font-size: 1rem;
  }
  .home .home-content img {
    width: 75%;
  }
  /* Features */
  .features .features-content .title {
    font-size: 2rem;
  }
  .features .features-content img {
    width: 75%;
  }
  /* Help Center */
  .help-center .help-search {
    padding: 4rem 0 !important;
  }
  .help-center .help-search .title {
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
  }
  .help-center .help-search .search {
    width: 92%;
  }
  .help-center .help-topics {
    padding-bottom: 4rem;
    height: unset;
  }
  .help-center .help-topics .title {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
  }
  .help-center .help-topics .topics {
    justify-content: space-between;
  }
  .help-center .help-topics .topics .help-topic {
    margin-bottom: 1rem;
    width: 48%;
  }
  .help-center .help-topics .topics .help-topic img {
    width: 164px;
  }
  .help-center .help-contact-container .help-contact .help-contact-content {
    width: 100%;
    text-align: center;
  }
  .help-center .help-contact-container .help-contact .help-contact-content .title {
    font-size: 2rem;
  }
  .help-center .help-contact-container .help-contact .help-contact-content .detail {
    font-size: 1.25rem;
  }
  .help-center .help-contact-container .help-contact a {
    margin: 1.25rem auto 0 auto;
    width: 50%;
    text-align: center;
  }
  .help-center .help-center-detail {
    flex-wrap: unset;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .help-center .help-center-detail .title {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }
  .help-center .help-center-detail img {
    margin-bottom: 1.5rem;
  }
  .help-center .help-center-detail .other-articles {
    margin: 1.5rem 0 1rem 1.5rem;
    font-size: 1.25rem;
  }
  .help-center .help-center-detail .article {
    padding: 0.75rem 1.5rem;
    margin-bottom: 1.25rem;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .help-center .help-center-detail .article img {
    width: 96px;
  }
  .help-center .help-center-detail .article .title {
    font-size: 1rem;
  }
  /* Blog */
  .blog {
    padding: 2rem 0 1rem 0 !important;
  }
  .blog .blog-latest {
    margin-bottom: 2rem;
  }
  .blog .blog-latest .latest-post {
    flex-direction: column;
  }
  .blog .blog-latest .latest-post img {
    border-radius: 0.25rem 0.25rem 0 0;
    width: 100%;
  }
  .blog .blog-latest .latest-post .article {
    padding: 1.25rem;
  }
  .blog .blog-latest .latest-post .article .article-title {
    margin-bottom: 1rem;
  }
  .blog .blog-latest .latest-post .article .article-detail {
    -webkit-line-clamp: 4;
    font-size: 1rem;
  }
  .blog .posts .title {
    margin-bottom: 1rem;
  }
  .blog .posts .post {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  .blog .posts .post img {
    object-fit: contain;
    width: 100%;
    height: unset;
  }
  .blog .posts .post .post-detail {
    padding: 1.25rem;
  }
  .blog .posts .post .post-detail .title {
    margin-bottom: 1rem;
  }
  .blog .blog-post {
    width: 92%;
  }
  /* About */
  .about .about-partners-container {
    padding: 2rem 0 0 0;
  }
  .about .about-partners-container .about-partners img {
    margin-bottom: 2rem;
    width: 32%;
    height: 48px;
    object-fit: contain;
  }
  /* Contact */
  .contact .contact-banner-container .contact-banner-bg {
    height: 200px;
  }
  .contact .contact-banner-container .contact-banner-bg .title {
    font-size: 2.5rem;
  }
  /* Legal */
  .legal {
    padding: 2rem 0 !important;
    width: 100%;
  }
  .legal .title {
    font-size: 1.25rem;
  }
  .legal .sub-title {
    font-family: "RobotoCondensed-Regular";
    font-size: 1rem;
  }
}
@media only screen and (max-width: 575px) {
  /* Bootstrap */
  .container {
    max-width: 92% !important;
  }
  /* Authentication */
  .auth .auth-bg {
    height: unset;
  }
  .auth .auth-bg .auth-content {
    border-radius: 0;
    padding: 2rem 0;
    width: 100%;
    height: unset;
    min-height: 100dvh;
  }
  .auth .auth-bg .auth-content .logo {
    margin-bottom: 2rem;
  }
  .auth .auth-bg .auth-content form {
    width: 90%;
  }
  .auth .auth-bg .auth-content .form-sign-up {
    width: 90%;
  }
  .auth .auth-bg .auth-content .form-sign-up .form-item-double {
    width: 100%;
  }
  /* Home */
  .home .home-content .title {
    width: 75%;
    font-size: 2.25rem;
  }
  .home .home-content .description {
    width: 75%;
    font-size: 1.25rem;
  }
  .home .home-content .link {
    font-size: 1.25rem;
  }
  .home .home-content img {
    margin-bottom: 4rem;
    width: 75%;
  }
  /* Features */
  .features .features-content .title {
    font-size: 2rem;
  }
  .features .features-content img {
    margin-bottom: 4rem;
  }
  /* Blog */
  .blog .blog-post {
    width: 96%;
  }
  .blog .blog-post .date {
    font-size: 1rem;
  }
  .blog .blog-post img {
    margin: 1.25rem 0;
  }
  .blog .blog-post .pagination {
    margin: 1.25rem 0;
  }
  /* About */
  .about .about-banner-container .about-banner .about-banner-content .title {
    font-size: 2rem;
  }
  .about .about-banner-container .about-banner .about-banner-content .description {
    margin-bottom: 4rem;
    width: 100%;
    font-size: 1.25rem;
  }
  .about .about-banner-container .about-banner .about-banner-content img {
    width: 100%;
  }
  .about .about-statistics-container {
    padding: 2rem 1rem;
  }
  .about .about-statistics-container .about-statistics {
    justify-content: space-between;
  }
  .about .about-statistics-container .about-statistics .about-statistic i {
    margin-bottom: 1rem;
    font-size: 2rem;
  }
  .about .about-statistics-container .about-statistics .about-statistic h1 {
    margin-bottom: 0.25rem;
    font-size: 1.5rem;
  }
  .about .about-statistics-container .about-statistics .about-statistic h6 {
    font-size: 1.25rem;
  }
  .about .about-partners-container .about-partners img {
    width: 50%;
  }
  /* Contact */
  .contact .contact-banner-container .contact-banner-bg {
    height: 150px;
  }
  .contact .contact-content .contact-area:first-child {
    margin-top: 2.5rem;
  }
  .contact .contact-content .contact-area .title {
    margin-bottom: 1rem;
  }
  .contact .contact-content .contact-area form .form-element {
    margin-bottom: 1.5rem;
    width: 100%;
  }
  .contact .contact-content .contact-area form .form-element label, .contact .contact-content .contact-area form .form-element button {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 399px) {
  /* Home */
  .home .home-content .title {
    font-size: 2rem;
  }
  .home .home-content .description {
    width: 75%;
    font-size: 1.15rem;
  }
  .home .home-content .link {
    font-size: 1.15rem;
  }
  .home .home-content img {
    margin-bottom: 4rem;
    width: 75%;
  }
  /* Help Center */
  .help-center .help-search {
    padding: 2.5rem 0 !important;
  }
  .help-center .help-search .title {
    font-size: 1.5rem;
  }
  .help-center .help-search .search {
    padding: 0.75rem 1.25rem;
    font-size: 1rem;
  }
  .help-center .help-topics {
    padding-bottom: 2rem;
  }
  .help-center .help-topics .title {
    font-size: 1.25rem;
  }
  .help-center .help-topics .topics {
    justify-content: center;
  }
  .help-center .help-topics .topics .help-topic {
    margin-bottom: 1rem;
    width: 64%;
  }
  .help-center .help-topics .topics .help-topic img {
    width: 64px;
  }
  .help-center .help-contact-container .help-contact .help-contact-content .title {
    font-size: 1.5rem;
  }
  .help-center .help-contact-container .help-contact .help-contact-content .detail {
    font-size: 1rem;
  }
  .help-center .help-contact-container .help-contact a {
    margin: 1rem auto 0 auto;
    width: 50%;
    font-size: 1rem;
  }
  /* Blog */
  .blog .blog-post {
    width: 98%;
  }
  .blog .blog-post .title {
    font-size: 1.25rem;
  }
  /* About */
  .about .about-banner-container .about-banner .about-banner-content .title {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
  }
  .about .about-banner-container .about-banner .about-banner-content .description {
    margin-bottom: 3rem;
    font-size: 1.25rem;
  }
  .about .about-principles-container {
    padding: 2rem 0;
  }
  .about .about-principles-container .about-principles .title {
    font-size: 1.5rem;
  }
  .about .about-principles-container .about-principles .about-mission {
    margin-bottom: 2rem;
  }
  /* Contact */
  .contact .contact-content .contact-area .contact-detail {
    margin-bottom: 1.5rem;
    padding: 1rem 1.25rem;
    font-size: 1.25rem;
  }
  .contact .contact-content .contact-area .contact-detail i {
    margin-right: 0.75rem;
  }
  .contact .contact-content .contact-area form {
    padding: 1.25rem;
  }
  /* Errors */
  .errors .error-content .error-code {
    font-size: 6rem;
  }
  .errors .error-content .error-detail {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 349px) {
  /* Home */
  .home .home-content .title {
    width: 75%;
    font-size: 1.5rem;
  }
  .home .home-content .description {
    margin: 0.5rem 0 1.25rem 0;
    width: 75%;
    font-size: 1rem;
  }
  .home .home-content .link {
    font-size: 1rem;
  }
  .home .home-content img {
    margin-bottom: 1.5rem;
    width: 60%;
  }
  /* Features */
  .features .features-content .title {
    font-size: 1.5rem;
  }
  .features .features-content img {
    margin-bottom: 2rem;
    width: 60%;
  }
  /* About */
  .about .about-banner-container .about-banner .about-banner-content .description {
    margin-bottom: 2rem;
    font-size: 1rem;
  }
  .about .about-statistics-container {
    padding: 2rem 0;
  }
  /* Contact */
  .contact .contact-content .contact-area .contact-detail {
    margin-bottom: 1.25rem;
    padding: 1rem;
    font-size: 1rem;
  }
  .contact .contact-content .contact-area .contact-detail i {
    margin-right: 0.5rem;
  }
  .contact .contact-content .contact-area form {
    padding: 1rem;
  }
  /* Errors */
  .errors .error-content .error-code {
    font-size: 5rem;
  }
  .errors .error-content .error-detail {
    font-size: 2.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
