@import "../plugins/fontawesome/css/all.min.css";

/* Fonts */
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/RobotoCondensed-Bold.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Bold.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-SemiBold";
    src: url("../fonts/RobotoCondensed-SemiBold.woff") format('woff');
    src: url("../fonts/RobotoCondensed-SemiBold.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Light.woff2") format('woff2');
}

$font700: "RobotoCondensed-Bold";
$font600: "RobotoCondensed-SemiBold";
$font400: "RobotoCondensed-Regular";
$font300: "RobotoCondensed-Light";

/* Colors */
$color1: #4772fa;
$color2: #ffb000;
$color3: #06ce90;
$color4: #ff3180;
$color5: #f5f5f5;
$color6: #333333;
$color7: #ececec;
$color8: #dadada;
$color9: rgba(255, 255, 255, 0.25);
$color10: rgba(255, 255, 255, 0.75);

/* Variables */
$i : !important;

/* Global */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: unset;
}

body {
    background-color: $color5;
    font-family: $font400;
    font-size: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    user-select: none;
}

/* Custom */
.w-48 {
    width: 48%;
}

/* Bootstrap */
.container-fluid {
    margin: 0 $i;
    padding: 0 $i;
}

.container {
    padding-right: 0 $i;
    padding-left: 0 $i;
}

.alert {
    border-radius: .25rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    p {
        margin: 0 1rem;
        font-family: $font300;
        font-size: 1rem;
        color: $color6;
    }
    .fa-check {
        color: $color3;
    }
    .fa-exclamation {
        color: $color4;
    }
    .fa-times {
        color: $color6;
        cursor: pointer;
    }
}

/* Layout */
header  {
    padding: 1rem 0;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            display: flex;
            align-items: center;
            svg {
                margin-right: .5rem;
                width: 44px;
                height: 44px;
            }
            span {
                font-family: $font600;
                font-size: 1.5rem;
                color: $color1;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            li {
                a {
                    font-family: $font600;
                    font-size: 1.25rem;
                    color: $color6;
                    transition: .25s ease-in;
                    &:hover {
                        color: $color2;
                    }
                    i {
                        margin-right: .25rem;
                        font-size: 1rem;
                    }
                }
                .link {
                    background-color: $color1;
                    border-radius: .25rem;
                    padding: .4rem .8rem;
                    font-family: $font400;
                    font-size: 1.25rem;
                    color: $color5;
                    transition: .25s ease-out;
                    &:hover {
                        background-color: $color2;
                        color: $color5;
                    }
                }
            }
        }
    }
}

footer {
    border-top: 1px solid $color8;
    background-color: $color7;
    padding: 4rem 0;
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        .logo {
            display: flex;
            align-items: center;
            svg {
                margin-right: .5rem;
                width: 44px;
                height: 44px;
            }
            span {
                font-family: $font600;
                font-size: 1.5rem;
                color: $color1;
            }
        }
        .menu {
            width: 50%;
            display: flex;
            justify-content: space-between;
            li {
                display: flex;
                flex-direction: column;
                span {
                    margin-bottom: 2rem;
                    font-family: $font600;
                    font-size: 1rem;
                    color: $color6;
                }
                a {
                    margin-bottom: 1rem;
                    font-family: $font300;
                    font-size: 1rem;
                    color: $color6;
                    transition: .25s ease-in;
                    &:hover {
                        text-decoration: underline;
                    }
                    i {
                        margin-right: .25rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    hr {
        margin: 3rem 0 4rem 0;
    }
    p {
        margin: 0;
        font-family: $font300;
        color: $color6;
    }
}

main {
    max-height: calc(100dvh - 76px);
    min-height: calc(100dvh - 76px);
}

/* Authentication */
.auth {
    background: url("../images/auth.png") center/cover no-repeat;
    .auth-bg {
        background-color: $color9;
        width: 100%;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        .auth-content {
            background-color: $color10;
            border-radius: .25rem;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo {
                margin-bottom: 3rem;
                display: flex;
                align-items: center;
                svg {
                    margin-right: .5rem;
                    width: 44px;
                    height: 44px;
                }
                span {
                    font-family: $font600;
                    font-size: 1.5rem;
                    color: $color1;
                }
            }
            form {
                width: 320px;
                .form-item {
                    width: 100%;
                    font-family: $font400;
                    font-size: 1rem;
                    color: $color6;
                    label {
                        margin-bottom: .25rem;
                        width: 100%;
                    }
                    input {
                        border: 1px solid $color8;
                        outline: none;
                        padding: .5rem 1rem;
                        width: 100%;
                        &:focus {
                            border-color: $color6;
                        }
                    }
                    a {
                        width: 100%;
                        color: $color1;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    button {
                        background-color: $color1;
                        padding: .5rem 0;
                        border: none;
                        outline: none;
                        width: 100%;
                        font-family: $font400;
                        font-size: 1.25rem;
                        color: $color5;
                        text-align: center;
                        transition: .15s ease-in;
                        &:hover {
                            background-color: $color2;
                        }
                    }
                    p {
                        margin: 0;
                        width: 100%;
                        color: $color6;
                    }
                    .agreement {
                        font-family: $font300;
                        font-size: 14px;
                    }
                }
            }
            .form-sign-up {
                width: 480px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .form-item-double {
                    width: 48%;
                }
            }
        }
    }
}

/* Home */
.home {
    max-height: calc(100dvh - 76px);
    min-height: calc(100dvh - 76px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .home-content {
        width: 50%;
        .title {
            font-family: $font700;
            font-size: 4rem;
            color: $color6;
            span {
                &:first-child {
                    color: $color1;
                }
                &:last-child {
                    color: $color2;
                }
            }
        }
        .description {
            margin: 1.5rem 0 2rem 0;
            font-size: 1.25rem;
        }
        .link {
            background-color: $color1;
            border-radius: .25rem;
            padding: .5rem 1rem;
            font-family: $font400;
            font-size: 1.5rem;
            color: $color5;
            transition: .25s ease-out;
            &:hover {
                background-color: $color2;
            }
        }
        img {
            width: 640px;
        }
    }
}

/* Responsive */
@media only screen and (max-width: 575px) {
    /* Bootstrap */
    .container {
        max-width: 92% $i;
    }

    /* Layout */
    footer {
        .footer-container {
            .footer-content {
                ul {
                    li {
                        &:last-child {
                            margin: 1.5rem 0 .5rem 0;
                            width: 100%;
                            display: flex;
                            flex-direction: row;
                            a {
                                margin-left: 1rem;
                                &:first-child {
                                    margin-left: 0 $i;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
