@import "../plugins/fontawesome/css/all.min.css";

/* Fonts */
@font-face {
    font-family: "RobotoCondensed-Bold";
    src: url("../fonts/RobotoCondensed-Bold.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Bold.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-SemiBold";
    src: url("../fonts/RobotoCondensed-SemiBold.woff") format('woff');
    src: url("../fonts/RobotoCondensed-SemiBold.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-Regular";
    src: url("../fonts/RobotoCondensed-Regular.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Regular.woff2") format('woff2');
}
@font-face {
    font-family: "RobotoCondensed-Light";
    src: url("../fonts/RobotoCondensed-Light.woff") format('woff');
    src: url("../fonts/RobotoCondensed-Light.woff2") format('woff2');
}

$font700: "RobotoCondensed-Bold";
$font600: "RobotoCondensed-SemiBold";
$font400: "RobotoCondensed-Regular";
$font300: "RobotoCondensed-Light";

/* Colors */
$color1: #4772fa;
$color2: #ffb000;
$color3: #06ce90;
$color4: #ff3180;
$color5: #f5f5f5;
$color6: #333333;
$color7: #ececec;
$color8: #dadada;
$color9: rgba(255, 255, 255, 0.25);
$color10: rgba(255, 255, 255, 0.75);
$color11: rgba(71, 114, 250, 0.1);

/* Variables */
$i : !important;

/* Global */
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: unset;
}

body {
    background-color: $color5;
    font-family: $font400;
    font-size: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    user-select: none;
}

/* Custom */
.w-48 {
    width: 48%;
}

/* Bootstrap */
.container-fluid {
    margin: 0 $i;
    padding: 0 $i;
}

.container {
    padding-right: 0 $i;
    padding-left: 0 $i;
}

.alert {
    border-radius: .25rem;
    position: fixed;
    top: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    p {
        margin: 0 1rem;
        font-family: $font300;
        font-size: 1rem;
        color: $color6;
    }
    .fa-check {
        color: $color3;
    }
    .fa-exclamation {
        color: $color4;
    }
    .fa-times {
        color: $color6;
        cursor: pointer;
    }
}

/* Layout */
header  {
    padding: 1rem 0;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .logo {
            display: flex;
            align-items: center;
            svg {
                margin-right: .5rem;
                width: 44px;
                height: 44px;
            }
            span {
                font-family: $font400;
                font-size: 1.5rem;
                color: $color1;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            li {
                a {
                    font-family: $font400;
                    font-size: 1.25rem;
                    color: $color6;
                    transition: .25s ease-in;
                    &:hover {
                        color: $color2;
                    }
                    i {
                        margin-right: .25rem;
                        font-size: 1rem;
                    }
                }
                .link {
                    background-color: $color1;
                    border-radius: .25rem;
                    padding: .4rem .8rem;
                    font-family: $font400;
                    font-size: 1.25rem;
                    color: $color5;
                    transition: .25s ease-out;
                    &:hover {
                        background-color: $color2;
                        color: $color5;
                    }
                }
            }
        }
    }
}

footer {
    border-top: 1px solid $color8;
    background-color: $color7;
    padding: 4rem 0;
    .footer-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        .logo {
            display: flex;
            align-items: center;
            svg {
                margin-right: .5rem;
                width: 44px;
                height: 44px;
            }
            span {
                font-family: $font400;
                font-size: 1.5rem;
                color: $color1;
            }
        }
        .menu {
            width: 50%;
            display: flex;
            justify-content: space-between;
            li {
                display: flex;
                flex-direction: column;
                span {
                    margin-bottom: 2rem;
                    font-family: $font600;
                    font-size: 1rem;
                    color: $color6;
                }
                a {
                    margin-bottom: 1rem;
                    font-family: $font300;
                    font-size: 1rem;
                    color: $color6;
                    transition: .25s ease-in;
                    &:hover {
                        text-decoration: underline;
                    }
                    i {
                        margin-right: .25rem;
                        font-size: 1rem;
                    }
                }
            }
        }
    }
    hr {
        margin: 3rem 0 4rem 0;
    }
    p {
        margin: 0;
        font-family: $font300;
        color: $color6;
    }
}

main {
    min-height: calc(100dvh - 76px);
}

/* Authentication */
.auth {
    background: url("../images/auth.png") center/cover no-repeat;
    .auth-bg {
        background-color: $color9;
        width: 100%;
        height: 100dvh;
        display: flex;
        justify-content: center;
        align-items: center;
        .auth-content {
            background-color: $color10;
            border-radius: .25rem;
            padding: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .logo {
                margin-bottom: 3rem;
                display: flex;
                align-items: center;
                svg {
                    margin-right: .5rem;
                    width: 44px;
                    height: 44px;
                }
                span {
                    font-family: $font400;
                    font-size: 1.5rem;
                    color: $color1;
                }
            }
            form {
                width: 320px;
                .form-item {
                    width: 100%;
                    font-family: $font400;
                    font-size: 1rem;
                    color: $color6;
                    label {
                        margin-bottom: .25rem;
                        width: 100%;
                    }
                    input {
                        border: 1px solid $color8;
                        outline: none;
                        padding: .5rem 1rem;
                        width: 100%;
                        &:focus {
                            border-color: $color6;
                        }
                    }
                    a {
                        width: 100%;
                        color: $color1;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                    button {
                        background-color: $color1;
                        padding: .5rem 0;
                        border: none;
                        outline: none;
                        width: 100%;
                        font-family: $font400;
                        font-size: 1.25rem;
                        color: $color5;
                        text-align: center;
                        transition: .15s ease-in;
                        &:hover {
                            background-color: $color2;
                        }
                    }
                    p {
                        margin: 0;
                        width: 100%;
                        color: $color6;
                    }
                    .agreement {
                        font-family: $font300;
                        font-size: 14px;
                    }
                }
            }
            .form-sign-up {
                width: 480px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .form-item-double {
                    width: 48%;
                }
            }
        }
    }
}

/* Home */
.home {
    min-height: calc(100dvh - 76px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .home-content {
        width: 50%;
        .title {
            font-family: $font400;
            font-size: 4rem;
            color: $color6;
            span {
                &:first-child {
                    color: $color1;
                }
                &:last-child {
                    color: $color2;
                }
            }
        }
        .description {
            margin: 1.5rem 0 2rem 0;
            font-size: 1.25rem;
        }
        .link {
            background-color: $color1;
            border-radius: .25rem;
            padding: .5rem 1rem;
            font-family: $font400;
            font-size: 1.5rem;
            color: $color5;
            transition: .25s ease-out;
            &:hover {
                background-color: $color2;
            }
        }
        img {
            width: 640px;
        }
    }
}

/* Features */
.features {
    min-height: calc(100dvh - 76px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .features-content {
        width: 50%;
        .title {
            font-family: $font400;
            font-size: 4rem;
            color: $color6;
            span {
                &:first-child {
                    color: $color1;
                }
                &:nth-child(2) {
                    color: $color2;
                }
                &:last-child {
                    color: $color3;
                }
            }
        }
        img {
            width: 640px;
        }
    }
}

/* Help Center */
.help-center {
    .help-search {
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .title {
            margin-bottom: 1.5rem;
            font-family: $font600;
            font-size: 3rem;
            color: $color6;
            text-align: center;
            span {
                color: $color1;
            }
        }
        .search {
            border: 2px solid $color6;
            background-color: $color5;
            border-radius: .25rem;
            padding: 1rem;
            width: 640px;
            font-family: $font400;
            font-size: 1.25rem;
        }
    }
    .help-topics {
        height: calc(100dvh - 356px);
        padding: 4rem 0 $i;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        .title {
            margin-bottom: 4rem;
            width: 100%;
            font-family: $font400;
            font-size: 2rem;
            color: $color6;
            text-align: center;
            span {
                color: $color1;
            }
        }
        .help-topic {
            border: 2px solid $color7;
            border-radius: .25rem;
            padding: 1rem 2rem;
            transition: .25s ease;
            img {
                width: 164px;
            }
            .topic {
                margin: 0;
                font-family: $font400;
                font-size: 1.25rem;
                color: $color6;
                text-align: center;
            }
            &:hover {
                scale: 1.1;
            }
        }
    }
    .help-contact-container {
        background-color: $color1;
        padding: 2rem 0;
        .help-contact {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .help-contact-content {
                text-align: left;
                color: $color5;
                .title {
                    font-family: $font600;
                    font-size: 2.25rem;
                }
                .detail {
                    margin: 0;
                    font-family: $font400;
                    font-size: 1.5rem;
                }
            }
            a {
                background-color: $color5;
                border-radius: .25rem;
                outline: none;
                border: none;
                padding: .75rem 1.5rem;
                font-family: $font600;
                font-size: 1.25rem;
                color: $color1;
                transition: .25s ease-in;
                &:hover {
                    background-color: $color2;
                    color: $color5;
                }
            }
        }
    }
    .help-center-detail {
        padding: 4rem 16rem $i;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: start;
        .title {
            margin-bottom: 1rem;
            width: 100%;
            font-family: $font600;
            font-size: 2rem;
            color: $color6;
        }
        img {
            margin-bottom: 2rem;
            width: 100%;
        }
        p {
            width: 100%;
        }
        .accordion {
            width: 100%;
            .accordion-item {
                margin-bottom: 1rem;
                width: 100%;
                .accordion-header {
                    .accordion-button {
                        background-color: $color10;
                        border: 1px solid $color8;
                        box-shadow: none;
                        outline: none;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .other-articles {
            margin: 2rem 0 1.5rem 0;
            width: 100%;
            font-family: $font600;
            font-size: 1.5rem;
            color: $color6;
        }
        .article {
            border: 2px solid $color7;
            border-radius: .25rem;
            padding: 1rem 2rem;
            transition: .25s ease;
            img {
                width: 150px;
            }
            .title {
                margin: 0;
                font-family: $font400;
                font-size: 1.25rem;
                color: $color6;
                text-align: center;
            }
            &:hover {
                scale: 1.1;
            }
        }
    }
}

/* About */
.about {
    .about-banner-container {
        padding-top: 2rem;
        .about-banner {
            min-height: calc(100dvh - 76px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .about-banner-content {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .title {
                    margin-bottom: 1rem;
                    font-family: $font600;
                    font-size: 2.25rem;
                    color: $color1;
                    text-align: center;
                }
                .description {
                    margin-bottom: 2rem;
                    width: 60%;
                    font-family: $font300;
                    font-size: 1.5rem;
                    color: $color6;
                    text-align: center;
                }
            }
        }
    }
    .about-principles-container {
        background-color: $color10;
        padding: 3rem 0;
        .about-principles {
            .title {
                margin-bottom: .5rem;
                font-family: $font600;
                font-size: 2rem;
            }
            .detail {
                font-family: $font400;
                font-size: 1rem;
                color: $color6;
            }
            .about-mission {
                margin-bottom: 2.5rem;
                .title {
                    color: $color1;
                }
            }
            .about-vision {
                .title {
                    color: $color2;
                }
            }
        }
    }
    .about-statistics-container {
        background-color: $color1;
        padding: 2.5rem 0;
        .about-statistics {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .about-statistic {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $color5;
                i {
                    margin-bottom: 1.25rem;
                    font-size: 2.5rem;
                }
                h1 {
                    margin-bottom: .25rem;
                    font-family: $font600;
                    font-size: 2rem;
                    text-align: center;
                }
                h6 {
                    font-family: $font600;
                    font-size: 1.5rem;
                    text-align: center;
                }
            }
        }
    }
    .about-partners-container {
        background-color: $color10;
        padding: 4rem 0;
        .about-partners {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            img {
                height: 64px;
            }
        }
    }
}

/* Legal */
.legal {
    width: 50%;
    padding: 4rem $i;
    color: $color6;
    .title {
        font-family: $font400;
        font-size: 2rem;
    }
    .sub-title {
        font-family: $font400;
        font-size: 1.5rem;
    }
    .text {
        font-family: $font300;
        font-size: 1rem;
    }
}

/* Errors */
.errors {
    background-color: $color1;
    height: 100dvh;
    .error-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 120px;
        .logo {
            display: flex;
            align-items: center;
            svg {
                margin-right: .5rem;
                width: 44px;
                height: 44px;
            }
            span {
                font-family: $font400;
                font-size: 1.5rem;
                color: $color5;
            }
        }
    }
    .error-content {
        height: calc(100dvh - 120px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        .error-code {
            font-family: $font700;
            font-size: 8rem;
            color: $color2;
        }
        .error-detail {
            font-family: $font600;
            font-size: 4rem;
            color: $color5;
        }
    }
}

/* Responsive */
@media only screen and (max-width: 575px) {
    /* Bootstrap */
    .container {
        max-width: 92% $i;
    }
}
