@import "../plugins/fontawesome/css/all.min.css";
/* Fonts */
@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("../fonts/RobotoCondensed-Bold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-SemiBold";
  src: url("../fonts/RobotoCondensed-SemiBold.woff") format("woff");
  src: url("../fonts/RobotoCondensed-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff") format("woff");
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2");
}
/* Colors */
/* Variables */
/* Global */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: unset;
}

body {
  background-color: #f5f5f5;
  font-family: "RobotoCondensed-Regular";
  font-size: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  user-select: none;
}

/* Custom */
.w-48 {
  width: 48%;
}

/* Bootstrap */
.container-fluid {
  margin: 0 !important;
  padding: 0 !important;
}

.container {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.alert {
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  align-items: center;
}
.alert p {
  margin: 0 1rem;
  font-family: "RobotoCondensed-Light";
  font-size: 1rem;
  color: #333333;
}
.alert .fa-check {
  color: #06ce90;
}
.alert .fa-exclamation {
  color: #ff3180;
}
.alert .fa-times {
  color: #333333;
  cursor: pointer;
}

/* Layout */
header {
  padding: 1rem 0;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav .logo {
  display: flex;
  align-items: center;
}
header nav .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
header nav .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #4772fa;
}
header nav .menu {
  display: flex;
  align-items: center;
}
header nav .menu li a {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
  transition: 0.25s ease-in;
}
header nav .menu li a:hover {
  color: #ffb000;
}
header nav .menu li a i {
  margin-right: 0.25rem;
  font-size: 1rem;
}
header nav .menu li .link {
  background-color: #4772fa;
  border-radius: 0.25rem;
  padding: 0.4rem 0.8rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  transition: 0.25s ease-out;
}
header nav .menu li .link:hover {
  background-color: #ffb000;
  color: #f5f5f5;
}

footer {
  border-top: 1px solid #dadada;
  background-color: #ececec;
  padding: 4rem 0;
}
footer .footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
footer .footer-container .logo {
  display: flex;
  align-items: center;
}
footer .footer-container .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
footer .footer-container .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #4772fa;
}
footer .footer-container .menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
footer .footer-container .menu li {
  display: flex;
  flex-direction: column;
}
footer .footer-container .menu li span {
  margin-bottom: 2rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1rem;
  color: #333333;
}
footer .footer-container .menu li a {
  margin-bottom: 1rem;
  font-family: "RobotoCondensed-Light";
  font-size: 1rem;
  color: #333333;
  transition: 0.25s ease-in;
}
footer .footer-container .menu li a:hover {
  text-decoration: underline;
}
footer .footer-container .menu li a i {
  margin-right: 0.25rem;
  font-size: 1rem;
}
footer hr {
  margin: 3rem 0 4rem 0;
}
footer p {
  margin: 0;
  font-family: "RobotoCondensed-Light";
  color: #333333;
}

main {
  min-height: calc(100dvh - 76px);
}

/* Authentication */
.auth {
  background: url("../images/auth.png") center/cover no-repeat;
}
.auth .auth-bg {
  background-color: rgba(255, 255, 255, 0.25);
  width: 100%;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auth .auth-bg .auth-content {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth .auth-bg .auth-content .logo {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
}
.auth .auth-bg .auth-content .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
.auth .auth-bg .auth-content .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #4772fa;
}
.auth .auth-bg .auth-content form {
  width: 320px;
}
.auth .auth-bg .auth-content form .form-item {
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
}
.auth .auth-bg .auth-content form .form-item label {
  margin-bottom: 0.25rem;
  width: 100%;
}
.auth .auth-bg .auth-content form .form-item input {
  border: 1px solid #dadada;
  outline: none;
  padding: 0.5rem 1rem;
  width: 100%;
}
.auth .auth-bg .auth-content form .form-item input:focus {
  border-color: #333333;
}
.auth .auth-bg .auth-content form .form-item a {
  width: 100%;
  color: #4772fa;
}
.auth .auth-bg .auth-content form .form-item a:hover {
  text-decoration: underline;
}
.auth .auth-bg .auth-content form .form-item button {
  background-color: #4772fa;
  padding: 0.5rem 0;
  border: none;
  outline: none;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  text-align: center;
  transition: 0.15s ease-in;
}
.auth .auth-bg .auth-content form .form-item button:hover {
  background-color: #ffb000;
}
.auth .auth-bg .auth-content form .form-item p {
  margin: 0;
  width: 100%;
  color: #333333;
}
.auth .auth-bg .auth-content form .form-item .agreement {
  font-family: "RobotoCondensed-Light";
  font-size: 14px;
}
.auth .auth-bg .auth-content .form-sign-up {
  width: 480px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.auth .auth-bg .auth-content .form-sign-up .form-item-double {
  width: 48%;
}

/* Home */
.home {
  min-height: calc(100dvh - 76px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.home .home-content {
  width: 50%;
}
.home .home-content .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 4rem;
  color: #333333;
}
.home .home-content .title span:first-child {
  color: #4772fa;
}
.home .home-content .title span:last-child {
  color: #ffb000;
}
.home .home-content .description {
  margin: 1.5rem 0 2rem 0;
  font-size: 1.25rem;
}
.home .home-content .link {
  background-color: #4772fa;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #f5f5f5;
  transition: 0.25s ease-out;
}
.home .home-content .link:hover {
  background-color: #ffb000;
}
.home .home-content img {
  width: 640px;
}

/* Features */
.features {
  min-height: calc(100dvh - 76px);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.features .features-content {
  width: 50%;
}
.features .features-content .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 4rem;
  color: #333333;
}
.features .features-content .title span:first-child {
  color: #4772fa;
}
.features .features-content .title span:nth-child(2) {
  color: #ffb000;
}
.features .features-content .title span:last-child {
  color: #06ce90;
}
.features .features-content img {
  width: 640px;
}

/* Help Center */
.help-center .help-search {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.help-center .help-search .title {
  margin-bottom: 1.5rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 3rem;
  color: #333333;
  text-align: center;
}
.help-center .help-search .title span {
  color: #4772fa;
}
.help-center .help-search .search {
  border: 2px solid #333333;
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  padding: 1rem 1.5rem;
  width: 640px;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
}
.help-center .help-search .search::placeholder {
  letter-spacing: 0.15rem;
}
.help-center .help-topics {
  height: calc(100dvh - 356px);
  padding: 4rem 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.help-center .help-topics .title {
  margin-bottom: 4rem;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
  color: #333333;
  text-align: center;
}
.help-center .help-topics .title span {
  color: #4772fa;
}
.help-center .help-topics .help-topic {
  border: 2px solid #ececec;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  transition: 0.25s ease;
}
.help-center .help-topics .help-topic img {
  width: 164px;
}
.help-center .help-topics .help-topic .topic {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
  text-align: center;
}
.help-center .help-topics .help-topic:hover {
  scale: 1.1;
}
.help-center .help-contact-container {
  background-color: #4772fa;
  padding: 2rem 0;
}
.help-center .help-contact-container .help-contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.help-center .help-contact-container .help-contact .help-contact-content {
  text-align: left;
  color: #f5f5f5;
}
.help-center .help-contact-container .help-contact .help-contact-content .title {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2.25rem;
}
.help-center .help-contact-container .help-contact .help-contact-content .detail {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
}
.help-center .help-contact-container .help-contact a {
  background-color: #f5f5f5;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.25rem;
  color: #4772fa;
  transition: 0.25s ease-in;
}
.help-center .help-contact-container .help-contact a:hover {
  background-color: #ffb000;
  color: #f5f5f5;
}
.help-center .help-center-detail {
  padding: 4rem 16rem !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.help-center .help-center-detail .title {
  margin-bottom: 1rem;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
  color: #333333;
}
.help-center .help-center-detail img {
  margin-bottom: 2rem;
  width: 100%;
}
.help-center .help-center-detail p {
  width: 100%;
}
.help-center .help-center-detail .accordion {
  width: 100%;
}
.help-center .help-center-detail .accordion .accordion-item {
  margin-bottom: 1rem;
  width: 100%;
}
.help-center .help-center-detail .accordion .accordion-item .accordion-header .accordion-button {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #dadada;
  box-shadow: none;
  outline: none;
}
.help-center .help-center-detail .accordion .accordion-item:last-child {
  margin-bottom: 0;
}
.help-center .help-center-detail .other-articles {
  margin: 2rem 0 1.5rem 0;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #333333;
}
.help-center .help-center-detail .article {
  border: 2px solid #ececec;
  border-radius: 0.25rem;
  padding: 1rem 2rem;
  transition: 0.25s ease;
}
.help-center .help-center-detail .article img {
  width: 150px;
}
.help-center .help-center-detail .article .title {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
  text-align: center;
}
.help-center .help-center-detail .article:hover {
  scale: 1.1;
}

/* Blog */
.blog {
  padding: 4rem 0 2rem 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.blog .blog-latest {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog .blog-latest .title {
  margin-bottom: 1.25rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #333333;
}
.blog .blog-latest .latest-post {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid #ececec;
  border-radius: 0.25rem;
  width: 100%;
  display: flex;
  transition: 0.25s ease;
}
.blog .blog-latest .latest-post:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.blog .blog-latest .latest-post img {
  border-radius: 0.25rem 0 0 0.25rem;
  height: 320px;
}
.blog .blog-latest .latest-post .article {
  padding: 2rem;
  color: #333333;
}
.blog .blog-latest .latest-post .article .article-title {
  margin-bottom: 1.5rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.5rem;
}
.blog .blog-latest .latest-post .article .article-detail {
  margin: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
}
.blog .posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.blog .posts .title {
  margin-bottom: 1.25rem;
  width: 100%;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #333333;
}
.blog .posts .post {
  border: 1px solid #dadada;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  width: 32%;
  display: flex;
  flex-direction: column;
  transition: 0.25s ease;
}
.blog .posts .post:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
}
.blog .posts .post img {
  border-radius: 0.25rem 0.25rem 0 0;
  object-fit: cover;
  height: 240px;
}
.blog .posts .post .post-detail {
  padding: 1rem;
}
.blog .posts .post .post-detail .title {
  margin-bottom: 1rem;
  min-height: 48px;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
}
.blog .posts .post .post-detail .detail {
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: "RobotoCondensed-Light";
  font-size: 1rem;
  color: #6E6E6E;
}
.blog .blog-post {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.blog .blog-post .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
  color: #333333;
  text-align: center;
}
.blog .blog-post img {
  margin: 2rem 0;
  width: 100%;
}
.blog .blog-post a {
  margin: 1rem 0 2rem 0;
  font-size: 1rem;
  color: #4772fa;
}
.blog .blog-post a:hover {
  text-decoration: underline;
}

/* About */
.about .about-banner-container {
  padding-top: 2rem;
}
.about .about-banner-container .about-banner {
  min-height: calc(100dvh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-banner-container .about-banner .about-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-banner-container .about-banner .about-banner-content .title {
  margin-bottom: 1rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2.25rem;
  color: #4772fa;
  text-align: center;
}
.about .about-banner-container .about-banner .about-banner-content .description {
  margin-bottom: 2rem;
  width: 60%;
  font-family: "RobotoCondensed-Light";
  font-size: 1.5rem;
  color: #333333;
  text-align: center;
}
.about .about-principles-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 3rem 0;
}
.about .about-principles-container .about-principles .title {
  margin-bottom: 0.5rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2rem;
}
.about .about-principles-container .about-principles .detail {
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
}
.about .about-principles-container .about-principles .about-mission {
  margin-bottom: 2.5rem;
}
.about .about-principles-container .about-principles .about-mission .title {
  color: #4772fa;
}
.about .about-principles-container .about-principles .about-vision .title {
  color: #ffb000;
}
.about .about-statistics-container {
  background-color: #4772fa;
  padding: 2.5rem 0;
}
.about .about-statistics-container .about-statistics {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about .about-statistics-container .about-statistics .about-statistic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f5f5f5;
}
.about .about-statistics-container .about-statistics .about-statistic i {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
}
.about .about-statistics-container .about-statistics .about-statistic h1 {
  margin-bottom: 0.25rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2rem;
  text-align: center;
}
.about .about-statistics-container .about-statistics .about-statistic h6 {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 1.5rem;
  text-align: center;
}
.about .about-partners-container {
  background-color: rgba(255, 255, 255, 0.75);
  padding: 4rem 0;
}
.about .about-partners-container .about-partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.about .about-partners-container .about-partners img {
  height: 64px;
}

/* Contact */
.contact .contact-banner-container {
  background-color: #4772fa;
}
.contact .contact-banner-container .contact-banner-bg {
  background: url("../images/contact/contact.png") center/cover no-repeat;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .contact-banner-container .contact-banner-bg .title {
  margin: 0;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 4rem;
  color: #f5f5f5;
  text-align: center;
}
.contact .contact-content {
  padding: 6rem 0 !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.contact .contact-content .contact-area {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact .contact-content .contact-area .title {
  margin-bottom: 2rem;
  font-family: "RobotoCondensed-SemiBold";
  font-size: 2rem;
  color: #4772fa;
}
.contact .contact-content .contact-area .contact-detail {
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #dadada;
  border-radius: 0.25rem;
  margin-bottom: 2rem;
  padding: 2rem 4rem;
  width: 450px;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}
.contact .contact-content .contact-area .contact-detail i {
  margin-right: 1rem;
  width: 24px;
  color: #4772fa;
}
.contact .contact-content .contact-area .contact-detail p {
  margin: 0;
}
.contact .contact-content .contact-area .contact-detail:last-child {
  margin-bottom: 0;
}
.contact .contact-content .contact-area form {
  border: 2px solid #dadada;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.25rem;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.contact .contact-content .contact-area form .form-element {
  margin-bottom: 2rem;
  width: 48%;
  display: flex;
  flex-direction: column;
}
.contact .contact-content .contact-area form .form-element label {
  margin-bottom: 0.5rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #333333;
}
.contact .contact-content .contact-area form .form-element input {
  border: 1px solid #333333;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.5rem 1rem;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
}
.contact .contact-content .contact-area form .form-element textarea {
  border: 1px solid #333333;
  border-radius: 0.25rem;
  outline: none;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1rem;
  color: #333333;
  resize: none;
}
.contact .contact-content .contact-area form .form-element button {
  background-color: #4772fa;
  border-radius: 0.25rem;
  outline: none;
  border: none;
  padding: 0.5rem 0;
  font-family: "RobotoCondensed-Regular";
  font-size: 1.25rem;
  color: #f5f5f5;
  text-align: center;
  transition: 0.25s ease;
}
.contact .contact-content .contact-area form .form-element button:hover {
  background-color: #ffb000;
}
.contact .contact-content .contact-area form .form-element:last-child {
  margin-bottom: 0;
}
.contact .contact-content .contact-area form .agreement {
  margin: 0;
  font-family: "RobotoCondensed-Light";
}
.contact .contact-content .contact-area form .agreement a {
  color: #4772fa;
}
.contact .contact-content .contact-area form .agreement a:hover {
  text-decoration: underline;
}

/* Legal */
.legal {
  width: 50%;
  padding: 4rem !important;
  color: #333333;
}
.legal .title {
  font-family: "RobotoCondensed-Regular";
  font-size: 2rem;
}
.legal .sub-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
}
.legal .text {
  font-family: "RobotoCondensed-Light";
  font-size: 1rem;
}

/* Errors */
.errors {
  background-color: #4772fa;
  height: 100dvh;
}
.errors .error-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
}
.errors .error-logo .logo {
  display: flex;
  align-items: center;
}
.errors .error-logo .logo svg {
  margin-right: 0.5rem;
  width: 44px;
  height: 44px;
}
.errors .error-logo .logo span {
  font-family: "RobotoCondensed-Regular";
  font-size: 1.5rem;
  color: #f5f5f5;
}
.errors .error-content {
  height: calc(100dvh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.errors .error-content .error-code {
  font-family: "RobotoCondensed-Bold";
  font-size: 8rem;
  color: #ffb000;
}
.errors .error-content .error-detail {
  font-family: "RobotoCondensed-SemiBold";
  font-size: 4rem;
  color: #f5f5f5;
}

/* Responsive */
@media only screen and (max-width: 575px) {
  /* Bootstrap */
  .container {
    max-width: 92% !important;
  }
}

/*# sourceMappingURL=style.css.map */
